.NavMenu{
    max-width: 20%;
    position: sticky;
    position: -webkit-sticky;
    top: 44px;
    max-height: 250px;
}

.NavMenu ul{
    max-width: 100%;
    padding: 0;
}

.NavMenu li{
    color: var(--color-blue);
    list-style-type: none;
    padding: 5px;
    display: flex;
    line-height: 26px;
    cursor: pointer;
    border-radius: 4px;
}

.NavMenu a{
    text-decoration: none;
    color: var(--color-blue);
}

.NavMenu li a:active{
    color: var(--color-blue);
}

.NavMenu li:hover{
    background: #DAE2EA;
}