:root{
    --color-header: #4A76A8;
    --color-header-search: #224B7A;
    --color-header-placeholder: #8FADC8;
}

.Header{
    background: var(--color-header);
    height: 42px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.header{
    display: flex;
    justify-content: space-between;
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;
}

.header__logo{
    cursor: pointer;
}

.header__search{
    min-width: 230px;
    background: var(--color-header-search);
    border-radius: 20px;
    display: flex;
    padding: 5px;
    height: 50%;
    align-items: center;
    transition: 0.5s;
    transform: translateY(-1px);
}

.header__search:hover{
    transform: scale(0.95);
}

.header__search *{
    margin-left: 5px;
}

.header__search input{
    background: var(--color-header-search);
    outline: 0;
    border: 0px;
    font-size: 17px;
    color: var(--color-header-placeholder);
}

.header__search input::placeholder{
    color: var(--color-header-placeholder);
}

.header__user img{
    max-width: 32px;
    border-radius: 50%;
}

.header__user{
    max-height: 90%;
    cursor: pointer;
}